<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue.js - kurs video</title>

    <style>
    	[v-cloak] {
    		display: none;
    	}

    	.slider-container {
    		position: relative;
    		width: 40px;
    		height: 200px;
    		background-color: #eee;
    		border: 2px solid #aaa; 		
    	}

    	.slider {
    		position: absolute;
    		width: 100%;
    		bottom: 0;
    		background-color: #aaa;
    	}

    	.value, .min, .max {
    		width: 40px;
    		border: 2px solid #aaa; 
    		margin-top: 5px;
    		text-align: center;	
    		color: #aaa;
    	}    	

	</style>
</head>
<body>

	<!-- Warunkowe dodawanie elementów do drzewa DOM -->

	<div id="app" v-cloak>

		<div class="slider-container" @wheel="slide">
			<div class="slider" :style="getValue"></div>			
		</div>

		<div class="value">{{ value }}</div>

		<!-- To doda³em w tej lekcji -->
		<!-- v-if - usuwa z drzewa DOM gdy trzeba -->
		<!--
		<div class="min" v-if="value==0">MIN</div>			
		<div class="max" v-if="value==200">MAX</div>-->

		<!-- v-show - element ci¹gle jest w drzewie DOM - ukrywanyza pomoc¹: style="display: none" -->
		<div class="min" v-show="value==0">MIN</div>			
		<div class="max" v-show="value==200">MAX</div>

	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.js"></script>

<script>

	var vm = new Vue({

		el: "#app",
		data: {
			value: 0,
			step: 5
		},

		computed: {
			getValue: function(){
				return { 'height': this.value + 'px'};
			}
		},

		methods: {
			slide: function(e){
				if(e.deltaY > 0) { 	// krêcimy kó³kiem w dó³
					this.value = this.value < 200 ? this.value + this.step : this.value;

				} else { // krêcimy kó³kiem do góry
					this.value = this.value > 0 ? this.value - this.step : this.value;		
				}
			}
		}
	});

</script>
</body>
</html>