<!DOCTYPE html>
<html lang="pl">
<head>

	<style>


		[v-cloak] {

			display: none;
		}



	</style>


</head>
<body>


<div id="app" v-cloak>

	<form action="#" v-if="products.length">

		<h1>Dodaj do koszyka</h1>

		<h2>Akcesoria</h2>

		<template v-for="product in products">
			<input type="checkbox" v-model="product.checked" true-value="tak" false-value="nie" /> {{ product.name }}<br/>
		</template>

		<h2>Forma odbioru</h2>

		<template v-for="option in deliveryOptions">
			<input type="radio" v-model="delivery" :value="option.option" /> {{ option.option }}<br/>
		</template>


		<select v-model="delivery">

			<option v-for="option in deliveryOptions" :value="option.option"> {{ option.option }}</option>

		</select><br />

		<p>Sposób dostawy: {{ delivery }}</p><br />


		<input type="checkbox" v-model="contactOK" /> {{ contactCon }}<br/>

		<input type="submit" value="Wyślij" :disabled="!isReady" />

	</form>

	<p v-else>Brak asortymentu!</p>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>


var app = new Vue ({

	el: '#app',

	data: {


		products: [

			{name: "Myszka", checked: 'nie'},
			{name: "Laptop", checked: 'nie'},
			{name: "Komputer stacjonarny", checked: 'nie'},
			{name: "Monitor", checked: 'nie'},
			{name: "Głośniki", checked: 'nie'},
			{name: "Podkładka pod mysz", checked: 'nie'}

			

		],

		deliveryOptions: [

			{option: 'Kurier'},
			{option: 'Poczta'},
			{option: 'Osobiście'}

		],

		contactCon: "Potwierdzam zgodność danych podanych w formularzu kontaktowym",

		delivery: '',

		contactOK: false

	}, 

	methods: {

		checkProducts: function(){

			for(var i=0; i<this.products.length; i++){
				if(this.products[i].checked=="tak") return 'tak';
			}
			return 'nie';
		},

		setDelivery: function(){
			this.delivery = this.deliveryOptions[1].option;
		}

	},

	computed: {

		isReady: function(){
			return this.checkProducts()=='tak' && this.contactOK;
		}
	}

});	

app.setDelivery();

</script>
</body>
</html>
