<!DOCTYPE html>
<html lang="pl">
<head>

	<style>


		[v-cloak] {

			display: none;
		}

	</style>


</head>
<body>


<div id="app" v-cloak>

	<form action="#" >

		<h1>Dodaj do koszyka</h1>

		<h2>Akcesoria</h2>

		<template v-for="poduct in products">
			<input type="checkbox" v-model="poduct.checked" /> 
				<b>{{ poduct.name | prefix('Produkt: ') | uppercase }}</b> {{ poduct.price | brutto(23) }} {{ currency }} <br/>
		</template>

	</form>

</div>



<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

/*
Vue.filter("uppercase", function(value){

	return value.toUpperCase();

});

*/


var mixinFilters = {

	filters: {

		uppercase: function(value){
			return value.toUpperCase();
		},

		prefix: function(value, prefix){
			return prefix + ' ' + value;
		},

		brutto: function(value, proc){
			return value + value * proc * 0.01;
		}
	}

}

var mixinMethods = {
	methods: {

		getcurrency: function(){
			return this.currency;
		}

	}
}

new Vue ({

	el: '#app',

	data: {

		products: [

			{
				name: 'Myszka', 
				price: 30, 
				checked: false
			},
			{
				name: 'Laptop', 
				price: 2000, 
				checked: false
			},
			{
				name: 'Komputer stacjonarny', 
				price: 3000, 
				checked: false
			},
			{
				name: 'Monitor', 
				price: 1000, 
				checked: false
			},
			{
				name: 'Głośniki', 
				price: 700, 
				checked: false
			},
			{
				name: 'Podkładka pod mysz', 
				price: 10, 
				checked: false
			}
		],

		currency: 'zł'
	},

	mixins: [mixinFilters, mixinMethods]


});	




</script>
</body>
</html>
