<!DOCTYPE html>
<html lang="pl">
<head>

	<style>


		[v-cloak] {

			display: none;
		}


	</style>


</head>
<body>

	<div id="app" v-cloak>
	
		<wirners-tab></wirners-tab>
		<gifts-tab></gifts-tab>

	</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>


var winersTab = {

	template: `

		<div>
			<h1>Zwycięzcy</h1>

			<table>
				<tbody>

					<tr>
						<th>Imię</th>
						<th>Nazwisko</th>
						<th>Wiek</th>
						<th>Zawód</th>
					</tr>

					<tr v-for="winer in winners">
						<td>{{ winer.firstname }}</td>
						<td>{{ winer.surname }}</td>
						<td>{{ winer.age }}</td>
						<td>{{ winer.profession }}</td>
					</tr>

				</tbody>
			</table>
		</div>

		`,

		data: function(){

			return {
				winners: [
					{
						firstname: "Jan",
						surname: "Brzechwa",
						age: 30,
						profession: "Pisarz"
					},

					{
						firstname: "Stefan",
						surname: "Nowak",
						age: 25,
						profession: "Kierowca"
					}, 

					{
						firstname: "Adam",
						surname: "Iksiński",
						age: 15,
						profession: "Uczeń"
					}
				]
			}
		}
}


var giftsTab = {

	template: `

		<div>
			<h1>Lista nagród</h1>
			<table>
				<tbody>

					<tr>
						<th>Lp.</th>
						<th>Nagroda</th>
					</tr>

					<tr v-for="(gift, i) in gifts">
						<td>{{ i + 1 }}</td>
						<td>{{ gift }}</td>
					</tr>

				</tbody>
			</table>	
		</div>		
	`,	


	data: function(){

		return {
			gifts: 
				["laptop", "pendrive", "myszka", "głośniki"]
			}
	}

}


new Vue ({

	el: '#app',

	data: {
		mode: "wirners-tab"
	},

	components: {
		"wirners-tab": winersTab,
		"gifts-tab": giftsTab
	}



});	


</script>
</body>
</html>
